/* 
* Editor style is used to style the visual editor in post/page edit screen.
*/

/*
body#tinymce.wp-editor { 
    font-family: Arial, Helvetica, sans-serif; 
    margin: 10px;
	font-size: 3em;
	line-height: 1.2;
}
*/
